---
// =============== Swiper CSS ===============
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
// =============== CSS ===============
import "./src/styles/global.css";
// =============== Props ===============
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== FAVICON ===============-->
    <link
      rel="shortcut icon"
      href="/assets/img/favicon.png"
      type="image/x-icon"
    />

    <!--=============== REMIXICONS ===============-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css"
    />
    <!-- <script src="https://unpkg.com/scrollreveal"></script> -->
  </head>
  <body>
    <slot />
    
  
  </body>
</html>
